body{
    background-color:red;
    text-align:center;
 }
 #firstp{
   font-size:50px
 }
 #image1{
   border-style:solid;
   border:1px;
   border-radius:8px;
   padding:5px;
     width:450px;
 }
 #image2{
   border-style:solid;
   border:1px;
   border-radius:8px;
   padding:5px;
     width:450px;
 }
 #image3{
   border-style:solid;
   border:1px;
   border-radius:8px;
   padding:5px;
     width:450px;
 }
 #image4{
   border-style:solid;
   border:1px;
   border-radius:8px;
   padding:5px;
     width:450px;
 }
 #image5{
   border-style:solid;
   border:1px;
   border-radius:8px;
   padding:5px;
     width:450px;
 }
 #image6{
   border-style:solid;
   border:1px;
   border-radius:8px;
   padding:5px;
     width:450px;
 }
 #image7{
   border-style:solid;
   border:1px;
   border-radius:8px;
   padding:5px;
     width:450px;
 }
 #image8{
   border-style:solid;
   border:1px;
   border-radius:8px;
   padding:5px;
     width:450px;
 }
 #image9{
   border-style:solid;
   border:1px;
   border-radius:8px;
   padding:5px;
     width:450px;
 }
 #image10{
   border-style:solid;
   border:1px;
   border-radius:8px;
   padding:5px;
     width:450px;
 }